/.project
/.classpath
/.settings/
/.flattened-pom.xml
/target/
/.factorypath
**/.factorypath
**/.project
**/.classpath
**/.settings/
**/target/
**/.flattened-pom.xml
**/node/
**/node_modules/
**/*TestLocal.java